anaconda-anon-usage
anaconda-auth
anaconda-cli-base
annotated-types
anyio==4.12.1
archspec
attrs==25.4.0
backoff==2.2.1
bcrypt==5.0.0
boltons
brotlicffi
build==1.4.0
certifi
cffi
charset-normalizer
chromadb==1.5.2
click
conda
conda-anaconda-telemetry
conda-anaconda-tos
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda_package_streaming
cryptography
distro
durationpy==0.10
faiss-cpu==1.13.2
filelock==3.25.0
flatbuffers==25.12.19
frozendict
fsspec==2026.2.0
googleapis-common-protos==1.72.0
grpcio==1.78.0
h11==0.16.0
hf-xet==1.3.2
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface_hub==1.6.0
idna
importlib_metadata==8.7.1
importlib_resources==6.5.2
jaraco.classes
jaraco.context
jaraco.functools
Jinja2==3.1.6
joblib==1.5.3
jsonpatch
jsonpointer
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keyring
kubernetes==35.0.0
libmambapy
markdown-it-py
MarkupSafe==3.0.3
mdurl
menuinst
mmh3==5.2.1
more-itertools
mpmath==1.3.0
msgpack
networkx==3.6.1
numpy==2.4.2
oauthlib==3.3.1
onnxruntime==1.24.3
opentelemetry-api==1.40.0
opentelemetry-exporter-otlp-proto-common==1.40.0
opentelemetry-exporter-otlp-proto-grpc==1.40.0
opentelemetry-proto==1.40.0
opentelemetry-sdk==1.40.0
opentelemetry-semantic-conventions==0.61b0
orjson==3.11.7
overrides==7.7.0
packaging
pkce
platformdirs
pluggy
posthog==5.4.0
protobuf==6.33.5
pybase64==1.4.3
pycosat
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
PyPika==0.51.1
pyproject_hooks==1.2.0
PySocks
python-dateutil==2.9.0.post0
python-dotenv
PyYAML==6.0.3
readchar
referencing==0.37.0
regex==2026.2.28
requests
requests-oauthlib==2.0.0
rich
rpds-py==0.30.0
ruamel.yaml
ruamel.yaml.clib
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.1
semver
sentence-transformers==5.2.3
setuptools==80.9.0
shellingham
six==1.17.0
sympy==1.14.0
tenacity==9.1.4
threadpoolctl==3.6.0
tokenizers==0.22.2
tomli
torch==2.10.0
tqdm
transformers==5.3.0
truststore
typer==0.20.0
typer-slim==0.20.0
typing-inspection
typing_extensions
urllib3
uvicorn==0.41.0
uvloop==0.22.1
watchfiles==1.1.1
websocket-client==1.9.0
websockets==16.0
wheel==0.45.1
zipp==3.23.0
zstandard